# Ignore vendor directory (Composer dependencies)
/app/vendor/

# Ignore var directory (Symfony cache and logs)
/app/var/

# Ignore .vscode directory (Visual Studio Code IDE configuration)
/.vscode/

# Ignore supervisor.log file
/app/supervisord.log

# Ignore supervisord.pid file
/app/supervisord.pid

# Ignore sensitive data
/app/config/secrets/

# Ignore public bundles
/app/public/bundles/

# Ignore RabbitMQ data
/infra/rabbitmq/
