# Ignore vendor directory (Composer dependencies)
/vendor/

# Ignore var directory (Symfony cache and logs)
/var/

# Ignore .vscode directory (Visual Studio Code IDE configuration)
/.vscode/

# Ignore supervisor.log file
/supervisord.log


# Ignore supervisord.pid file
/supervisord.pid

# Ignore sensitive data
/config/secrets/

# Ignore public bundles
/public/bundles/
